In [151]:
import pandas as pd

pd.set_option('display.max_columns', None)
p2425 = pd.read_csv("./data/season-2425.csv")
p2324 = pd.read_csv("./data/season-2324.csv")
p2223 = pd.read_csv("./data/season-2223.csv")
p2122 = pd.read_csv("./data/season-2122.csv")
p2021 = pd.read_csv("./data/season-2021.csv")
p1920 = pd.read_csv("./data/season-1920.csv")
p1819 = pd.read_csv("./data/season-1819.csv")
p1718 = pd.read_csv("./data/season-1718.csv")
p1617 = pd.read_csv("./data/season-1617.csv")
p1516 = pd.read_csv("./data/season-1516.csv")
p1415 = pd.read_csv("./data/season-1415.csv")

Prem_DF = pd.concat([p2425, p2324, p2223, p2122, p2021, p1920, p1819, p1718, p1617, p1516, p1415])
Prem_DF.reset_index(inplace=True)

In [152]:
# HomeTeam -> string --> Home Team
# AwayTeam -> string --> Away Team
# FTHG -> integer --> Full Time Home Team Goals
# FTAG -> integer --> Full Time Away Team Goals
# FTR -> string --> Full Time Result (H=Home Win, D=Draw, A=Away Win)
# HTHG -> integer --> Half Time Home Team Goals
# HTAG -> integer --> Half Time Away Team Goals
# HTR -> string --> Half Time Result (H=Home Win, D=Draw, A=Away Win)
# Referee -> string --> Match Referee
# HS -> integer --> Home Team Shots
# AS -> integer --> Away Team Shots
# HST -> integer --> Home Team Shots on Target
# AST -> integer --> Away Team Shots on Target
# HF -> integer --> Home Team Fouls Committed
# AF -> integer --> Away Team Fouls Committed
# HC -> integer --> Home Team Corners
# AC -> integer --> Away Team Corners
# HY -> integer --> Home Team Yellow Cards
# AY -> integer --> Away Team Yellow Cards
# HR -> integer --> Home Team Red Cards
# AR -> integer --> Away Team Red Cards

In [153]:
Prem_DF

,index,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,375,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,376,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,377,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,378,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,379,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [154]:
# DATA CLEANING:
# Setting up the DataFrame so it is more suitable for answering my questions, checking for na values and duplicates as well as reformating some columns

In [155]:
Prem_DF.drop(columns="index", inplace=True)

In [156]:
Prem_DF

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [157]:
Prem_DF.isna().sum()

Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

In [158]:
Prem_DF.drop_duplicates()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [159]:
Prem_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4029 entries, 0 to 4028
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4029 non-null   object
 1   HomeTeam  4029 non-null   object
 2   AwayTeam  4029 non-null   object
 3   FTHG      4029 non-null   int64
 4   FTAG      4029 non-null   int64
 5   FTR       4029 non-null   object
 6   HTHG      4029 non-null   int64
 7   HTAG      4029 non-null   int64
 8   HTR       4029 non-null   object
 9   Referee   4029 non-null   object
 10  HS        4029 non-null   int64
 11  AS        4029 non-null   int64
 12  HST       4029 non-null   int64
 13  AST       4029 non-null   int64
 14  HF        4029 non-null   int64
 15  AF        4029 non-null   int64
 16  HC        4029 non-null   int64
 17  AC        4029 non-null   int64
 18  HY        4029 non-null   int64
 19  AY        4029 non-null   int64
 20  HR        4029 non-null   int64
 21  AR        4029 non-null   int64
dtypes: int64(16), object(6)
memory usage: 692.6+ KB

In [160]:
Prem_DF.rename(columns={"Date": "date", "HomeTeam": "home", "AwayTeam": "away", "FTHG": "fthg", "FTAG": "ftag", "FTR": "ftr", "HTHG": "hthg", "HTAG": "htag", "HTR": "htr", "Referee": "referee", 
                        "HS": "hs", "AS": "as", "HST": "hst", "AST": "ast", "HF": "hf", "AF": "af", "HC": "hc", "AC": "ac", "HY": "hy", "AY": "ay", "HR": "hr", "AR": "ar"}, inplace=True)

In [161]:
# I forgot the 'inplace=True' and so the rename wasn't working properly, I included the line and then used the print statement below to check renaming happened in the intended way.

In [162]:
print(Prem_DF.columns)

Index(['date', 'home', 'away', 'fthg', 'ftag', 'ftr', 'hthg', 'htag', 'htr',
       'referee', 'hs', 'as', 'hst', 'ast', 'hf', 'af', 'hc', 'ac', 'hy', 'ay',
       'hr', 'ar'],
      dtype='object')

In [163]:
Prem_DF["date"] = pd.to_datetime(Prem_DF["date"])
Prem_DF

C:\Users\tango\AppData\Local\Temp\ipykernel_6284\141959832.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Prem_DF["date"] = pd.to_datetime(Prem_DF["date"])

,date,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
0,2024-08-16,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,2024-08-17,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,2024-08-17,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,2024-08-17,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,2024-08-17,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,2015-05-24,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,2015-05-24,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,2015-05-24,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,2015-05-24,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,2015-05-24,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [164]:
Prem_DF.insert(1, "year", Prem_DF["date"].dt.year)
Prem_DF

,date,year,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
0,2024-08-16,2024,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,2024-08-17,2024,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,2024-08-17,2024,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,2024-08-17,2024,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,2024-08-17,2024,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,2015-05-24,2015,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,2015-05-24,2015,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,2015-05-24,2015,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,2015-05-24,2015,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,2015-05-24,2015,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [165]:
Prem_DF["year"].max()

np.int32(2025)

In [166]:
# Making a new 'year' column where the date was, I don't need the full date for my analysis as I am simply interested in the statistics by year.

In [167]:
Prem_DF.drop(columns="date", inplace=True)
Prem_DF

,year,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
0,2024,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,2024,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,2024,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,2024,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,2024,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,2015,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,2015,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,2015,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,2015,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,2015,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [168]:
Prem_DF = Prem_DF.sort_values(by="year", ascending=False)
Prem_DF.reset_index(inplace=True)

In [169]:
Prem_DF.drop(columns="index", inplace=True)

In [170]:
Prem_DF

,year,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
0,2025,Ipswich,Man City,0,6,A,0,3,A,S Barrott,8,17,4,9,4,7,4,7,0,1,0,0
1,2025,Chelsea,Wolves,3,1,H,1,1,D,S Hooper,19,9,7,4,8,14,3,6,4,2,0,0
2,2025,Bournemouth,Nott'm Forest,5,0,H,1,0,H,C Pawson,16,18,10,4,9,12,3,9,2,3,0,0
3,2025,Brighton,Everton,0,1,A,0,1,A,T Robinson,16,3,1,1,8,11,9,1,3,4,0,0
4,2025,Liverpool,Ipswich,4,1,H,3,0,H,M Salisbury,16,3,6,3,10,11,3,4,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,2014,Liverpool,Southampton,2,1,H,1,0,H,M Clattenburg,12,12,5,6,8,11,2,6,1,2,0,0
4025,2014,Newcastle,Man City,0,2,A,0,1,A,M Atkinson,12,13,0,5,8,11,3,3,1,5,0,0
4026,2014,Burnley,Chelsea,1,3,A,1,3,A,M Oliver,9,11,2,3,6,7,4,3,1,1,0,0
4027,2014,Aston Villa,Newcastle,0,0,D,0,0,D,M Dean,9,11,0,4,11,8,7,7,4,0,0,1
4028,2014,Chelsea,Leicester,2,0,H,0,0,D,L Mason,27,6,10,4,11,11,8,7,0,1,0,0

In [171]:
# Creating a copy of the main DF in the event later on in the project I want to experiment with exploration and end up doing accidental collateral.

In [172]:
Prem_DF_Copy = Prem_DF

In [173]:
Prem_DF_Copy

,year,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
0,2025,Ipswich,Man City,0,6,A,0,3,A,S Barrott,8,17,4,9,4,7,4,7,0,1,0,0
1,2025,Chelsea,Wolves,3,1,H,1,1,D,S Hooper,19,9,7,4,8,14,3,6,4,2,0,0
2,2025,Bournemouth,Nott'm Forest,5,0,H,1,0,H,C Pawson,16,18,10,4,9,12,3,9,2,3,0,0
3,2025,Brighton,Everton,0,1,A,0,1,A,T Robinson,16,3,1,1,8,11,9,1,3,4,0,0
4,2025,Liverpool,Ipswich,4,1,H,3,0,H,M Salisbury,16,3,6,3,10,11,3,4,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,2014,Liverpool,Southampton,2,1,H,1,0,H,M Clattenburg,12,12,5,6,8,11,2,6,1,2,0,0
4025,2014,Newcastle,Man City,0,2,A,0,1,A,M Atkinson,12,13,0,5,8,11,3,3,1,5,0,0
4026,2014,Burnley,Chelsea,1,3,A,1,3,A,M Oliver,9,11,2,3,6,7,4,3,1,1,0,0
4027,2014,Aston Villa,Newcastle,0,0,D,0,0,D,M Dean,9,11,0,4,11,8,7,7,4,0,0,1
4028,2014,Chelsea,Leicester,2,0,H,0,0,D,L Mason,27,6,10,4,11,11,8,7,0,1,0,0

In [174]:
# Question 1: *Which team has scored the most goals in the past decade?*
# Variables to focus on: 'year', 'home', 'away', 'fthg', 'ftag'

In [291]:
def cycleTeam(year, team):
    TeamYear_DF = Prem_DF.loc[(Prem_DF["year"] == year) & (Prem_DF["home"] == team) + (Prem_DF["away"] == team)]
    return TeamYear_DF

cycleTeam(2017, "Arsenal")

,year,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
2685,2017,Stoke,Arsenal,1,4,A,0,1,A,M Dean,10,10,4,6,13,7,7,6,1,2,0,0
2697,2017,Tottenham,Arsenal,2,0,H,0,0,D,M Oliver,20,12,11,4,7,15,14,5,1,3,0,0
2701,2017,Arsenal,Everton,3,1,H,2,0,H,M Oliver,17,22,9,7,10,15,4,6,2,4,1,0
2710,2017,Crystal Palace,Arsenal,2,3,A,0,1,A,M Oliver,16,16,2,9,12,7,5,4,0,1,0,0
2720,2017,West Ham,Arsenal,0,0,D,0,0,D,J Moss,6,22,0,3,9,9,1,7,1,0,0,0
2729,2017,Arsenal,Liverpool,3,3,D,0,1,A,M Atkinson,11,14,4,9,9,11,7,8,1,0,0,0
2733,2017,West Brom,Arsenal,1,1,D,0,0,D,M Dean,14,14,3,4,14,9,5,6,3,3,0,0
2751,2017,Arsenal,Newcastle,1,0,H,1,0,H,S Attwell,23,10,5,2,13,9,7,5,2,1,0,0
2755,2017,Arsenal,Huddersfield,5,0,H,1,0,H,G Scott,21,7,7,2,10,12,7,2,0,1,0,0
2762,2017,Southampton,Arsenal,1,1,D,1,0,H,R Madley,6,11,3,6,12,10,4,5,2,2,0,0
2781,2017,Arsenal,Man United,1,3,A,0,2,A,A Marriner,33,8,15,4,11,10,12,1,3,2,0,1
2794,2017,Burnley,Arsenal,0,1,A,0,0,D,L Mason,8,17,2,2,8,14,5,5,2,0,0,0
2801,2017,Everton,Arsenal,2,5,A,1,1,D,C Pawson,8,30,3,14,14,14,0,7,1,1,1,0
2811,2017,Arsenal,Tottenham,2,0,H,2,0,H,M Dean,14,14,5,4,11,16,7,4,4,1,0,0
2813,2017,Man City,Arsenal,3,1,H,1,0,H,M Oliver,9,6,5,3,15,15,5,5,1,6,0,0
2822,2017,Arsenal,Brighton,2,0,H,1,0,H,K Friend,25,9,12,1,7,8,6,5,0,2,0,0
2831,2017,Arsenal,Swansea,2,1,H,0,1,A,L Mason,17,4,5,2,9,9,5,2,0,0,0,0
2845,2017,Watford,Arsenal,2,1,H,0,1,A,N Swarbrick,11,9,2,6,8,10,2,5,1,0,0,0
2862,2017,Arsenal,West Brom,2,0,H,1,0,H,R Madley,16,7,6,3,8,17,7,4,1,4,0,0
2873,2017,Chelsea,Arsenal,0,0,D,0,0,D,M Oliver,13,11,4,2,11,15,5,1,1,3,1,0
2891,2017,Arsenal,Bournemouth,3,0,H,2,0,H,A Taylor,17,7,9,2,14,10,10,3,0,1,0,0
2892,2017,Arsenal,Leicester,4,3,H,2,2,D,M Dean,27,6,10,3,9,12,9,4,0,1,0,0
2894,2017,Liverpool,Arsenal,4,0,H,2,0,H,C Pawson,18,8,10,0,6,9,4,3,2,4,0,0
2899,2017,Stoke,Arsenal,1,0,H,0,0,D,A Marriner,11,18,4,6,6,11,2,9,0,0,0,0
2902,2017,Arsenal,Sunderland,2,0,H,0,0,D,R East,36,6,13,2,15,10,17,3,4,2,0,0
2914,2017,Southampton,Arsenal,0,2,A,0,0,D,J Moss,14,11,3,4,5,5,8,5,1,2,0,0
2922,2017,Arsenal,Man United,2,0,H,0,0,D,A Marriner,9,10,4,4,14,10,5,9,1,0,0,0
2929,2017,Crystal Palace,Arsenal,3,0,H,1,0,H,M Oliver,17,11,6,3,11,10,5,8,0,1,0,0
2943,2017,Arsenal,Leicester,1,0,H,0,0,D,M Jones,12,7,5,3,9,13,12,1,2,4,0,0
2951,2017,Middlesbrough,Arsenal,1,2,A,0,1,A,A Taylor,13,12,5,4,11,16,2,4,2,2,0,0
2963,2017,West Brom,Arsenal,3,1,H,1,1,D,N Swarbrick,12,11,8,2,5,6,4,5,1,0,0,0
2976,2017,Arsenal,West Ham,3,0,H,0,0,D,M Atkinson,21,7,8,2,11,5,5,0,2,2,0,0
2982,2017,Arsenal,Man City,2,2,D,1,2,A,A Marriner,8,14,3,5,8,15,3,8,3,2,0,0
3011,2017,Chelsea,Arsenal,3,1,H,1,0,H,M Atkinson,13,9,6,5,14,8,10,13,1,1,0,0
3014,2017,Liverpool,Arsenal,3,1,H,2,0,H,R Madley,18,7,7,3,8,15,9,3,1,2,0,0
3033,2017,Arsenal,Hull,2,0,H,1,0,H,M Clattenburg,17,9,7,4,12,9,3,8,3,1,0,1
3045,2017,Bournemouth,Arsenal,3,3,D,2,0,H,M Oliver,12,14,6,4,10,12,4,7,3,3,1,0
3053,2017,Arsenal,Watford,1,2,A,0,2,A,A Marriner,20,10,5,6,12,15,9,5,3,3,0,0
3056,2017,Arsenal,Burnley,2,1,H,0,0,D,J Moss,24,13,8,7,12,11,10,4,1,3,1,0
3064,2017,Swansea,Arsenal,0,4,A,0,1,A,M Jones,12,14,3,6,12,8,3,2,2,0,0,0
3075,2017,Arsenal,Crystal Palace,2,0,H,1,0,H,A Marriner,22,7,7,4,9,7,8,4,1,1,0,0

In [292]:
totalHomeGoals = cycleTeam(2017, "Arsenal")[cycleTeam(2017, "Arsenal")["home"] == "Arsenal"]["fthg"].sum()
totalAwayGoals = cycleTeam(2017, "Arsenal")[cycleTeam(2017, "Arsenal")["away"] == "Arsenal"]["ftag"].sum()
totalGoals = totalHomeGoals + totalAwayGoals

Arsenal2017 = {
    "Home_Goals": int(totalHomeGoals),
    "Away_Goals": int(totalAwayGoals),
    "Total_Goals": int(totalGoals)
}
print(Arsenal2017)

{'Home_Goals': 45, 'Away_Goals': 31, 'Total_Goals': 76}

In [ ]:
# Combining the CycleTeam functions and creating a new one 'findTotalGoals' so we can just input a year and team to find the total goals for that year!

In [303]:
def cycleTeam(year, team):
    TeamYear_DF = Prem_DF.loc[(Prem_DF["year"] == year) & (Prem_DF["home"] == team) + (Prem_DF["away"] == team)]
    return TeamYear_DF

def findTotalGoals(year, team):
    totalHomeGoals = cycleTeam(year, team)[cycleTeam(year, team)["home"] == team]["fthg"].sum()
    totalAwayGoals = cycleTeam(year, team)[cycleTeam(year, team)["away"] == team]["ftag"].sum()
    totalGoals = totalHomeGoals + totalAwayGoals
    objectName = f"{team} + {year}"

    objectName = {
        "Home_Goals": int(totalHomeGoals),
        "Away_Goals": int(totalAwayGoals),
        "Total_Goals": int(totalGoals)
    }
    return [objectName]

findTotalGoals(2017, "Arsenal")[0]["Total_Goals"]

76