In [62]:
import pandas as pd

pd.set_option('display.max_columns', None)
p2425 = pd.read_csv("./data/season-2425.csv")
p2324 = pd.read_csv("./data/season-2324.csv")
p2223 = pd.read_csv("./data/season-2223.csv")
p2122 = pd.read_csv("./data/season-2122.csv")
p2021 = pd.read_csv("./data/season-2021.csv")
p1920 = pd.read_csv("./data/season-1920.csv")
p1819 = pd.read_csv("./data/season-1819.csv")
p1718 = pd.read_csv("./data/season-1718.csv")
p1617 = pd.read_csv("./data/season-1617.csv")
p1516 = pd.read_csv("./data/season-1516.csv")
p1415 = pd.read_csv("./data/season-1415.csv")

Prem_DF = pd.concat([p2425, p2324, p2223, p2122, p2021, p1920, p1819, p1718, p1617, p1516, p1415])
Prem_DF.reset_index(inplace=True)

In [63]:
# HomeTeam -> string --> Home Team
# AwayTeam -> string --> Away Team
# FTHG -> integer --> Full Time Home Team Goals
# FTAG -> integer --> Full Time Away Team Goals
# FTR -> string --> Full Time Result (H=Home Win, D=Draw, A=Away Win)
# HTHG -> integer --> Half Time Home Team Goals
# HTAG -> integer --> Half Time Away Team Goals
# HTR -> string --> Half Time Result (H=Home Win, D=Draw, A=Away Win)
# Referee -> string --> Match Referee
# HS -> integer --> Home Team Shots
# AS -> integer --> Away Team Shots
# HST -> integer --> Home Team Shots on Target
# AST -> integer --> Away Team Shots on Target
# HF -> integer --> Home Team Fouls Committed
# AF -> integer --> Away Team Fouls Committed
# HC -> integer --> Home Team Corners
# AC -> integer --> Away Team Corners
# HY -> integer --> Home Team Yellow Cards
# AY -> integer --> Away Team Yellow Cards
# HR -> integer --> Home Team Red Cards
# AR -> integer --> Away Team Red Cards

In [64]:
Prem_DF

,index,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,375,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,376,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,377,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,378,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,379,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [65]:
Prem_DF.drop(columns="index", inplace=True)

In [66]:
Prem_DF

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [67]:
Prem_DF.isna().sum()

Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

In [68]:
Prem_DF.drop_duplicates()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0

In [69]:
Prem_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4029 entries, 0 to 4028
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4029 non-null   object
 1   HomeTeam  4029 non-null   object
 2   AwayTeam  4029 non-null   object
 3   FTHG      4029 non-null   int64
 4   FTAG      4029 non-null   int64
 5   FTR       4029 non-null   object
 6   HTHG      4029 non-null   int64
 7   HTAG      4029 non-null   int64
 8   HTR       4029 non-null   object
 9   Referee   4029 non-null   object
 10  HS        4029 non-null   int64
 11  AS        4029 non-null   int64
 12  HST       4029 non-null   int64
 13  AST       4029 non-null   int64
 14  HF        4029 non-null   int64
 15  AF        4029 non-null   int64
 16  HC        4029 non-null   int64
 17  AC        4029 non-null   int64
 18  HY        4029 non-null   int64
 19  AY        4029 non-null   int64
 20  HR        4029 non-null   int64
 21  AR        4029 non-null   int64
dtypes: int64(16), object(6)
memory usage: 692.6+ KB

In [73]:
Prem_DF.rename(columns={"Date": "date", "HomeTeam": "home", "AwayTeam": "away", "FTHG": "fthg", "FTAG": "ftag", "FTR": "ftr", "HTHG": "hthg", "HTAG": "htag", "HTR": "htr", "Referee": "referee", 
                        "HS": "hs", "AS": "as", "HST": "hst", "AST": "ast", "HF": "hf", "AF": "af", "HC": "hc", "AC": "ac", "HY": "hy", "AY": "ay", "HR": "hr", "AR": "ar"})

,date,home,away,fthg,ftag,ftr,hthg,htag,htr,referee,hs,as,hst,ast,hf,af,hc,ac,hy,ay,hr,ar
0,16/08/24,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0
1,17/08/24,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0
2,17/08/24,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0
3,17/08/24,Everton,Brighton,0,3,A,0,1,A,S Hooper,9,10,1,5,8,8,1,5,1,1,1,0
4,17/08/24,Newcastle,Southampton,1,0,H,1,0,H,C Pawson,3,19,1,4,15,16,3,12,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,24/05/15,Hull,Man United,0,0,D,0,0,D,L Probert,16,7,6,1,12,15,8,1,2,2,0,1
4025,24/05/15,Leicester,QPR,5,1,H,2,0,H,M Oliver,22,18,7,2,7,6,5,6,0,0,0,0
4026,24/05/15,Man City,Southampton,2,0,H,1,0,H,C Foy,15,13,6,4,13,8,8,4,1,1,0,0
4027,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,M Atkinson,17,4,4,1,9,9,2,3,2,1,0,0
4028,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,A Taylor,15,13,9,4,13,4,3,9,4,2,0,0